.component1-container {
  width: 350px;
  height: 70px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.component1-rectangle1 {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 70px;
  position: absolute;
  border-radius: 40px;
}
.component1-text {
  top: 8px;
  left: 28px;
  color: rgba(255, 255, 255, 1);
  width: 294px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  font-family: Nunito;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.component1-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
@media(max-width: 390px) {
  .component1-rectangle1 {
    top: 0px;
    left: 0px;
  }
  .component1-text {
    top: 8px;
    left: 28px;
  }
}
